@font-face {
    font-family: 'digital-7';
    src: url('../elevate/fonts/digital-7.ttf');
  }

@font-face {
    font-family: 'franchise';
    src: url('../elevate/fonts/franchise.ttf');
  }

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

[class$="-container"] {
    display: flex;
}

[class$="-container"] {
    justify-content: center;
}

.elevator, .title {
    font-size: 100px;
    width: 200px;
    text-align: center;
    flex-direction: row;
    padding: 30px;
}

.elevator {
    color: #19E355;
    font-family: 'digital-7';
}

[class$="title"] {
    font-family: 'franchise';
}

.down-title {
    font-size: 30px;
    padding: 10px;
}

#current-stage {
    color: goldenrod;
}

#best-score {
    color: red;
}

.elevator .position {
    background-color: black;
}

.floor-selection {
    padding: 30px;
}

.add-button {
    padding: 20px;
}

.button-container button {
    padding: 10px;
}

.elevator-door {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: gray;
    transition: 0.8s ease;
    display: flex;
    align-items: center;
}

#left-door {
    left: -50%;
    justify-content: left;
}

#right-door {
    right: -50%;
    justify-content: right;
}

.elevator-inside-door {
    background-color: #DCDCDC;
    width: 98%;
    height: 98%;
}