#outside-button-container {
    background-color: #000000;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 8%;
}

#inside-button-container {
    background-color: #ffffff;
    width: 98%;
    height: 90%;
    border-radius: 8%;
}

.button-action {
    background-color: transparent; /* Make the button transparent */
    border: none; /* Remove the border */
    color: #000000; /* Set the text color */
    cursor: pointer; /* Change cursor to pointer on hover */
    padding: 0; /* Remove padding */
    width: 100%; /* Set the width of the button to match the container */
    height: 100%; /* Set the height of the button to match the container */
    font: inherit;
    font-size: 4vmin;

    &:hover {
        background-color:#eeeeee;
        color: #333333;
    }

    &:active {
        background-color:#000000;
        color: #ffffff;
    }
}

.button-action, .button-container { /* Thanks to https://pixelcorners.lukeb.co.uk/ */
    clip-path: polygon(
    0px calc(100% - 15px),
    3px calc(100% - 15px),
    3px calc(100% - 9px),
    6px calc(100% - 9px),
    6px calc(100% - 6px),
    9px calc(100% - 6px),
    9px calc(100% - 3px),
    15px calc(100% - 3px),
    15px 100%,
    calc(100% - 15px) 100%,
    calc(100% - 15px) calc(100% - 3px),
    calc(100% - 9px) calc(100% - 3px),
    calc(100% - 9px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 9px),
    calc(100% - 3px) calc(100% - 9px),
    calc(100% - 3px) calc(100% - 15px),
    100% calc(100% - 15px),
    100% 15px,
    calc(100% - 3px) 15px,
    calc(100% - 3px) 9px,
    calc(100% - 6px) 9px,
    calc(100% - 6px) 6px,
    calc(100% - 9px) 6px,
    calc(100% - 9px) 3px,
    calc(100% - 15px) 3px,
    calc(100% - 15px) 0px,
    15px 0px,
    15px 3px,
    9px 3px,
    9px 6px,
    6px 6px,
    6px 9px,
    3px 9px,
    3px 15px,
    0px 15px
  );
}