.title-bar {
    width: 100vw; /* Take up the full width of the viewport */
    z-index: 9999; /* Ensure the title bar appears above other content */
    background-color: #000000;
    color: #ffffff;
    padding: 1vh; /* Padding around the text */
    animation: enlarge 1s linear;
}

#screen {
    width: 100vw; /* Take up the full width of the viewport */
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-bar-text {
    justify-content: center;
    margin: 1vh;
    text-align: center; /* Center the text horizontally */
    align-items: center;
    transform: translateY(7%); /* Font has small space below letters */
}

#outside-button-container {
    width: 30vw;
    height: 10vh;
}

@keyframes enlarge {
    0% {
        opacity: 0;
        width: 20vw;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 100vw;
    }
}