#inside-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#outside-button-container {
    position: absolute;
    left: 5%;
    top: 50%;
    height: 5vw;
    width: 5vw;
}

#leave-button {
    font-size: 2vh;
}

#panel-view {
    width: 60%;
    height: 90%;
    border-color: black;
    border: solid 10px;
    border-radius: 5%;
    flex-direction: column;
    background-color: hsl(var(--elevator-hue) var(--elevator-saturation) 80%);
}

#top-panel-part {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#floor-text {
    font-size: 3vw;
    width: 50%;
    text-align: center;
}

#current-floor-content {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#current-floor {
    width: 70%;
    height: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 5%;
}

#floor {
    font-size: 6vw;
    transform: translateY(7%); /* Font has small space below letters */
}

#bottom-panel-part {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#floors-container {
    height: 90%;
    width: 75%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
}

.floor-buttons {
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}